
.vs/JAZ/config/applicationhost.config
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
JAZ/.vs/JAZ/config/applicationhost.config
JAZ/.vs/JAZ/v16/.suo
JAZ/.vs/JAZ/v16/Server/sqlite3/storage.ide
JAZ/.vs/JAZ/v16/Server/sqlite3/storage.ide-shm
JAZ/.vs/JAZ/v16/Server/sqlite3/storage.ide-wal
JAZ/bin/JAZ.dll
JAZ/bin/JAZ.pdb
JAZ/obj/Debug/JAZ.csproj.FileListAbsolute.txt
JAZ/obj/Debug/JAZ.csprojAssemblyReference.cache
JAZ/obj/Debug/JAZ.dll
JAZ/obj/Debug/JAZ.pdb
.vs/JAZ/v16/.suo
JAZ/.vs/JAZ/config/applicationhost.config
*.config
JAZ/.vs/JAZ/v16/.suo
JAZ/obj/Debug/JAZ.dll
JAZ/obj/Debug/JAZ.dll
